.our_clients
  padding: 60px 0
  margin-bottom: 50px
  background: url(../images/hole.png) no-repeat, url(../images/hole.png) no-repeat 100% 100%, url(../images/hole.png) no-repeat 0% 100%, url(../images/hole.png) no-repeat 100% 0%
  .title
    margin: 50px 0
  table
    border-collapse: collapse
    border: 2px solid white
    td
      border: 1px solid #CBCBCB
      text-align: center
      align-items: center
      width: 250px
      height: 150px
      position: relative
      .head
        display: flex
        justify-content: center
        p
          position: absolute
          font-size: 14px
          top: 5%
          margin: 0
      img
        margin-top: 30px
  .button
    display: flex
    justify-content: center
    .btn
      display: flex
      justify-content: space-around
      align-items: center
      height: 37px
      width: 150px
      text-align: left
      background-color: #E31E24
      font-family: "Open Sans"
      text-decoration: none
      font-size: 14px
      color: #fff
      margin-top: 50px
      &:hover
        background: #212434
        color: #fff