@import "header"
@import "upmenu"
@import "contentArticle"
@import "outdoorad"
@import "addService"
@import "stockform"
@import "about"
@import "advantage"
@import "ourClients"
@import "officeUnits"
@import "reviews"
@import "contacts"
@import "footer"
@import "scroller"
@import "sf2Style"
@import "articles"
@import "gallery"
@import "article_body"
@import "table"
@import "up_menu_900"

body
  .header-top-info 
    text-align: center
    padding: 15px 0
    background-color: #e31e24
    font-size: 14px

  margin: 0
  padding: 0
  .main_bg_left
    position: fixed
    top: 0
    left: 12%
    z-index: 99
    width: 1px
    height: 100%
    background: url("../images/dotted.png")
  .main_bg_right
    position: fixed
    top: 0
    right: 12%
    z-index: 99
    width: 1px
    height: 100%
    background: url("../images/dotted.png")
  .head_wrap
    display: flex
    justify-content: center
    .title
      display: inline-block
      text-align: center
      color: #333333
      font-size: 32px
      font-family: 'Open Sans'
      font-weight: 700
  .slick-dots
    position: relative

@import "media"